package stats

templ StatsPage() {
	<main class="flex flex-col py-10 px-5 lg:px-10 gap-20 max-w-3xl mx-auto my-10 lg:my-20">
		<h1 class="uppercase font-semibold text-3xl">stats</h1>
		<p class="text-outline">coming soon</p>
	</main>
}
