export DB_HOST=localhost
export DB_PORT=5432
export DB_NAME=mydb
export DB_USER=myuser
export DB_PASSWORD=mypassword
export SECRET_KEY_BASE=your-secret-key-here-generate-with-dd-if=/dev/urandom-bs=48-count=1-|-base64

export AWS_REGION=us-east-1
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export SES_FROM_ADDRESS=no-reply@gym-graphs.com
