package input

import "github.com/augustinsorel/gym-graphs/web"

type Type string

const (
	TypeText     Type = "text"
	TypePassword Type = "password"
	TypeEmail    Type = "email"
	TypeNumber   Type = "number"
	TypeTel      Type = "tel"
	TypeURL      Type = "url"
	TypeSearch   Type = "search"
	TypeDate     Type = "date"
	TypeDateTime Type = "datetime-local"
	TypeTime     Type = "time"
	TypeFile     Type = "file"
	TypeColor    Type = "color"
	TypeWeek     Type = "week"
	TypeMonth    Type = "month"
)

type Props struct {
	ID               string
	Class            string
	Attributes       templ.Attributes
	Autocomplete     string
	Name             string
	Type             Type
	Form             string
	Placeholder      string
	Value            string
	Disabled         bool
	Readonly         bool
	Required         bool
	FileAccept       string
	HasError         bool
	NoTogglePassword bool
}

templ Input(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	if p.Type == "" {
		{{ p.Type = TypeText }}
	}
	<input
		id={ p.ID }
		type={ string(p.Type) }
		if p.Name != "" {
			name={ p.Name }
		}
		if p.Placeholder != "" {
			placeholder={ p.Placeholder }
		}
		if p.Autocomplete != "" {
			autocomplete={ p.Autocomplete }
		}
		if p.Value != "" {
			value={ p.Value }
		}
		if p.Type == TypeFile && p.FileAccept != "" {
			accept={ p.FileAccept }
		}
		if p.Form != "" {
			form={ p.Form }
		}
		disabled?={ p.Disabled }
		readonly?={ p.Readonly }
		required?={ p.Required }
		if p.HasError {
			aria-invalid="true"
		}
		class={
			web.TwMerge(
				"border-b-2 py-1 border-current outline-none focus-visible:shadow-[0_2px_0_0_currentColor] disabled:opacity-50 disabled:cursor-not-allowed",
				p.Class,
			),
		}
		{ p.Attributes... }
	/>
}
