@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 50%;

    --popover: 0 0% 100% / 0.7;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 0 0% 0% / 0.1;
    --input: 214.3 31.8% 91.4%;

    --primary: 0 0% 0% / 0.05;
    --primary-foreground: 0 0% 30%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 329 82% 65%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 0 0% 0%;

    --radius: 0.5rem;

    --brand-color-one: 236 82% 70%;
    --brand-color-two: 329 82% 60%;

    --header-height: 4rem;
    --exercise-card-height: 19rem;
  }

  .dark {
    --background: 224 90% 2%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 0 0% 50%;

    --popover: 224 90% 2% / 0.7;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 0 0% 100% / 0.1;
    --input: 216 34% 17%;

    --primary: 0 0% 100% / 0.05;
    --primary-foreground: 0 0% 70%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 291 100% 75%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 50% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 0 0% 100% / 1;

    --radius: 0.5rem;

    --brand-color-one: 236 82% 70%;
    --brand-color-two: 291 100% 75%;

    --header-height: 4rem;
    --exercise-card-height: 19rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .scrollbar::-webkit-scrollbar {
    width: 14px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: hsl(var(--muted-foreground));
  }
}
