package layout

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width,initial-scale=1"/>
			<title>Gym Graphs</title>
			<link href="assets/css/output.css" rel="stylesheet"/>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta5"></script>
			<script src="/assets/js/theme.js"></script>
			<script src="/assets/js/graph-resize.js"></script>
		</head>
		<body class="bg-surface text-on-surface pb-20 lg:pb-0">
			{ children... }
		</body>
	</html>
}
