package web

templ Base() {
	<!DOCTYPE html>
	<html lang="en" class="h-screen">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width,initial-scale=1"/>
			<title>Gym Graphs</title>
			<link href="assets/css/output.css" rel="stylesheet"/>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta5"></script>
		</head>
		<body class="bg-gray-100">
			<main class="max-w-sm mx-auto p-4">
				{ children... }
			</main>
		</body>
	</html>
}
