package resetpassword

import "github.com/augustinsorel/gym-graphs/web/ui/alert"
import "github.com/augustinsorel/gym-graphs/web/ui/button"
import "github.com/augustinsorel/gym-graphs/web/ui/spinner"
import "github.com/augustinsorel/gym-graphs/web/ui/input"
import "github.com/augustinsorel/gym-graphs/web/ui/link"

templ ResetPasswordPage() {
	@Layout(EnterEmailStepIndicator()) {
		<h1 class="text-xl lg:text-5xl text-center">forgot your password?</h1>
		@ResetPasswordForm(ResetPasswordFormValues{}, ResetPasswordFormErr{})
	}
}

templ Layout(currentStep templ.Component) {
	<main class="grid lg:grid-cols-[1fr_auto_1fr] min-h-dvh">
		<section class="bg-surface-container-high hidden lg:grid p-20 gap-20 grid-rows-[auto_1fr] justify-content-center">
			<header>
				<span class="text-sm uppercase">gym graphs</span>
			</header>
			<div class="grid grid-rows-[1fr_auto_1fr]">
				@currentStep
			</div>
		</section>
		<hr class="bg-current w-1 h-full hidden lg:block"/>
		<section class="max-w-xl w-full m-auto space-y-15 p-4">
			{ children... }
		</section>
	</main>
}

templ activeStep(number string, title string) {
	<h1 class="row-start-2 flex flex-col">
		<span class="text-[15rem] font-bold leading-[0.85]">
			{ number }
		</span>
		<span class="text-3xl font-bold uppercase">
			{ title }
		</span>
	</h1>
}

templ upcomingStepItem(text string) {
	<li class="flex items-center whitespace-pre before:bg-current before:left:0 before:w-8 before:mr-3 before:h-px before:inline-block uppercase text-sm">
		{ text }
	</li>
}

templ upcomingSteps() {
	<ol class="row-start-3 flex flex-col justify-end text-outline gap-1">
		{ children... }
	</ol>
}

templ EnterEmailStepIndicator() {
	@activeStep("01", "enter your email")
	@upcomingSteps() {
		@upcomingStepItem("02 \t verify your email")
		@upcomingStepItem("03 \t set new password")
	}
}

templ VerifyEmailStepIndicator() {
	@activeStep("02", "verify your email")
	@upcomingSteps() {
		@upcomingStepItem("03 \t set new password")
	}
}

templ VerifyEmailPage() {
	@Layout(VerifyEmailStepIndicator()) {
		<h1 class="text-xl lg:text-5xl text-center">check your inbox</h1>
		@VerifyEmailForm(VerifyEmailFormValues{}, VerifyEmailFormErr{})
	}
}

type VerifyEmailFormValues struct {
	Code string
}

type VerifyEmailFormErr struct {
	Code string
	Root string
}

templ VerifyEmailForm(form VerifyEmailFormValues, err VerifyEmailFormErr) {
	<form
		hx-post="/reset-password/verify-email-code"
		hx-disable="find button[type='submit']"
		hx-indicator="find button[type='submit']"
		class="flex flex-col py-10 px-5 lg:px-10 gap-10"
		hx-swap="outerHTML"
	>
		<label class="grid gap-1 has-[>[aria-invalid=true]]:text-error">
			verification code:
			@input.Input(input.Props{
				Type:        "text",
				Placeholder: "12345678",
				Name:        "code",
				Value:       form.Code,
				HasError:    err.Code != "",
				Attributes: templ.Attributes{
					"inputmode": "numeric",
				},
			})
			if err.Code != "" {
				<p class="text-error text-sm" role="alert">
					{ err.Code }
				</p>
			}
		</label>
		if err.Root != "" {
			@alert.Alert(alert.Props{Variant: alert.VariantDestructive}) {
				@alert.Title() {
					something went wrong
				}
				@alert.Description() {
					{ err.Root }
				}
			}
		}
		@button.Button(button.Props{Type: "submit", FullWidth: true}) {
			verify
			@spinner.Spinner()
		}
		<div class="flex justify-end">
			@button.Button(button.Props{
				Variant: button.VariantLink,
				Type:    button.TypeButton,
				Attributes: templ.Attributes{
					"hx-post":    "/reset-password/verify-email-code/cancel",
					"hx-disable": "this",
					"hx-target":  "closest form",
					"hx-swap":    "outerHTML",
				},
			}) {
				cancel
				@spinner.Spinner()
			}
		</div>
	</form>
}

type ResetPasswordFormValues struct {
	Email string
}

type ResetPasswordFormErr struct {
	Email string
	Root  string
}

templ ResetPasswordForm(form ResetPasswordFormValues, err ResetPasswordFormErr) {
	<form
		hx-post="/reset-password"
		hx-disable="find button[type='submit']"
		hx-indicator="find button[type='submit']"
		class="flex flex-col py-10 px-5 lg:px-10 gap-10"
		hx-swap="outerHTML"
	>
		<label class="grid gap-1 has-[>[aria-invalid=true]]:text-error">
			email:
			@input.Input(input.Props{
				Type:         "email",
				Placeholder:  "hello@google.com",
				Name:         "email",
				Autocomplete: "email",
				Value:        form.Email,
				HasError:     err.Email != "",
			})
			if err.Email != "" {
				<p class="text-error text-sm" role="alert">
					{ err.Email }
				</p>
			}
		</label>
		if err.Root != "" {
			@alert.Alert(alert.Props{Variant: alert.VariantDestructive}) {
				@alert.Title() {
					something went wrong
				}
				@alert.Description() {
					{ err.Root }
				}
			}
		}
		@button.Button(button.Props{Type: "submit", FullWidth: true}) {
			send code
			@spinner.Spinner()
		}
		<p class="text-right text-sm">
			remembered your password?{ " " }
			@link.Link(link.Props{Href: "/sign-in"}) {
				sign in
			}
		</p>
	</form>
}
